*{
  color: rgb(22, 22, 22);
}

.new-note-main-container{
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.new-note-container{
  padding: 20px;
}

.new-note-input-field{
  border: none;
  outline: unset;
}

.new-note-input-field:hover{
  border: none;
  outline: unset;
}

.new-note-utility-action-btns{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.new-note-utility-action-btns svg{
  margin-right: 8px;
  cursor: pointer;
}

.utility-action-btns-left{
  position: relative;
}

.form-field{
  width: unset;
}

.ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
}

.ql-container.ql-snow{
  min-height: 10rem;
}

.add-label-button{
  margin: 0;
}

.add-label-button:hover{
  background-color: white;
  color:var(--primary-color)
}

.add-label-input-field:hover{
  border-color: black ;
}

.label-main-container{
  list-style-type: none;
  display: flex;
}

.label-container{
  border: 2px solid var(--light-border-color);
  border-radius: 5px;
  padding-left: 4px;
  margin-right: 4px;
}

.filter-btn{
  margin-top: 7px;
  cursor: pointer;
}

.date-holder{
  margin-left: 1rem;
}

/* add label component */
.add-label-container{
  position: absolute;
  display: flex;
  border: 1px solid black;
  left: 20px;
  padding: 10px;
  top:36px
}

/* add color component */
.add-color-container{
  position: absolute;
  border: 1px solid black;
  height: 10rem;
  width: 12rem;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  top:3.6rem;
}

.color{
  border: 1px solid white;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin: auto;
}