*{
  color: rgb(22, 22, 22);
}

.new-note-main-container{
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.new-note-container{
  padding: 20px;
}

.new-note-input-field{
  border: none;
  outline: unset;
}

.new-note-input-field:hover{
  border: none;
  outline: unset;
}

.new-note-utility-action-btns{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.new-note-utility-action-btns svg{
  margin-right: 8px;
  cursor: pointer;
}

.form-field{
  width: unset;
}

.ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
}

.ql-container.ql-snow{
  min-height: 10rem;
}

.add-label-button{
  margin: 0;
}

.add-label-button:hover{
  background-color: white;
  color:var(--primary-color)
}

.add-label-input-field:hover{
  border-color: black ;
}

.label-main-container{
  list-style-type: none;
  display: flex;
}

.label-container{
  border: 2px solid var(--light-border-color);
  border-radius: 5px;
  padding-left: 4px;
  margin-right: 4px;
}