.note-container{
  width: 28rem;
  min-height: 30rem;
  border-radius: 2rem;
  margin: 2rem;
  padding:10px 10px 0 10px

}

.note-body-text{
  font-size: 2rem;
}

.utility-container{
  border-top: 2px solid var(--light-border-color);
  margin-top: auto;
}

.utility-btn-container{
  padding: 10px;
  justify-content: space-around;
  position: relative;
}

.note-utility-btn{
  cursor: pointer;
}

.meta-data{
  border-top: 2px solid var(--light-border-color);
  padding: 10px;
  justify-content: flex-end;
}

.priority-container{
  padding-right: 1rem;
}

.meta-data-separator{
  margin-left: 6px;
  margin-right: 6px;
}

.meta-data-separator + p{
  margin-right: 6px;
}